.footer {
  text-align: center;
  margin: 30px auto;
  font-size: 15px;
}
footer {
  font-size: 14px !important;
}
a {
  color: black;
}

a:hover {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  color: blueviolet;
}
