.col-3 {
  padding: 0 10px;
  width: 20%;
  display: inline;
}

.card-body-text,
.col {
  top: 25px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.card-text {
  text-align: center;
}
